<li>
	<%= link_to list_path(id: list.id) do %>
		<div class="list-link">
			<%= list.name %>
	 	 </div>
	<% end %>
	<div class="x-button-container">
	 	<%= link_to list, method: :delete do %>		
			<span class="glyphicon glyphicon-remove-circle x-button"></span>
		<% end %>
	</div>
</li>