/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';


*:focus {
    outline: none;
    background-color: #fefefe;
}

* {
	margin: 0px;
	padding: 0px;
}

input {
	padding-left: 6px;
}

.add-box div {
	display: inline-block;
	height: 32px;
}

#text-field {
	height: 24px;
}

.plus-button {
	width:24px;
	height: 24px;
	font-weight: bolder;
	position:relative;
	left:-10px;
	padding: 0px;
	background-color: #fefffe;

	&:hover, &:focus {
		background-color: #6a6;
	}
}

.qty-box {
	width: 36px;
	text-align: center;
	padding: 0px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 480px;
}

.cell-link {
	padding:8px;
	width: 450px;
	height: 100%;
	&:hover {
		background-color: #fdfdff;
	}
}

.list-table td {
	padding:0px !important;
}

.edit-name {
	color: #eee;
	position: relative;
	left: 8px;
	top: -3px;
}

.list-name {
	display: inline;

}

a {
  color: #333;

  &:visited {
    color: default;
  }

  &:hover {
    color: default;
    text-decoration: none;
  }
}

// gets ride of arrows on number field
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.x-button-container {
	position: absolute;
	float: right;
	height: 18px;
	width: 28px;
	background-color: #fff;
	padding: 8px 0px 8px 0px;

}

.x-button {
	position: relative;
	left: -22px;
	top: 2px;
	background-color: #eee;
	width:13px;
	height:13px;
	border-radius: 50%;
	border: 1px #999 solid;
	text-align: center;
	line-height: 11px;
	font-size: 0.75em;
	color: #999;
	&:hover{
		background-color: #faa;
		color: #444;
	}
}
















