/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

.submit-box {
	position: relative;
	top: -5px;
	left: 12px;
}

.submit-box div {
	padding: 0px;
	margin: 0px;
	display: inline-block;

	& input {
	height: 28px;
}}

.submit-box div:last-child {
	position: relative;
	top: -1px;
	left: -10px;
}

.text-field input {
	padding-left: 8px;
}

.header div {
	display:inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.qty-box {
	width: 30px;
	text-align: center;
}

.move-left {
	position: relative;
	left: -5px;
}

.container {
	width: 500px;
}

input:focus {
	outline:none;
}






